<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>School timetable</title>
	</head>
	<body>
		<nav>
			<a href="{% url 'school:index' %}">School Timetable</a>
			<div>
				<ul>
					{% if user.is_authenticated %}
						<li>
							<a href="{% url 'accounts:logout' %}">ログアウト</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>

		<div>
			{% block title %}
			{% endblock %}
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>